body, html
{
    background-color: black;
    overflow: hidden;
}
@font-face {
    font-family: "Terminal"; 
    src: url('../fonts/Terminal6x8.ttf'); 
}
.MovingText
{
    text-align: center;
    min-width: 50px;
    color: rgb(0, 223, 223);
    font-size: 15px;
    border: 2px solid rgb(0, 223, 223);
    font-family:monospace;
    padding: 1%;
    margin: 0.5%;
    background-color: black;
    z-index: 1;
}

.RainingText
{
    position: absolute;
    font-family:monospace;
    z-index: 0;
    font-size: 20px;
    left: 0px;
    top: 1px;
    color: rgb(0, 136, 136);
    -webkit-mask-image: linear-gradient(
    to top,
    rgb(0, 136, 136) 0%,
    rgb(0, 136, 136) 60%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to top,
    rgb(0, 136, 136) 0%,
    rgb(0, 136, 136) 60%,
    transparent 100%
  );
    white-space: pre-line;
}